* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    font-size: 1.125rem;
    height: 100vh;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.3rem;
}
h1,
h2 {
    font-family: 'Inconsolata', monospace;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 2em auto;
    
}

img {
    display: block;
    max-width: 100%;

}
span {
    font-size: 10px;
}

.box-image {
  width: 80%;
    
    
}
.box-text p {
    margin: 1em 0;
    width: 80%
}

.box-image span {
    display: block;
    text-align: center;
}
.btn {
    display: inline-block;
    background-color: #FE6847;
    width: 10rem;
    text-align: center;
    color: #fff;
    font-size: 0.875rem;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.btn:hover,
.btn:focus {
    opacity: 0.75;
}

footer {
    margin: 0 auto;
    font-size: 0.7rem;
    height: 2rem;
}
footer p {
    text-align: center;
}
@media (min-width: 768px) {

    h2{
        font-size: 2.5rem;
    }
    
    .container-main {
       max-width: 70%;
        
        
    }
    .row-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .box-image {
     
        width: 40%;
       
        
    }
    .box-text {
        width: 45%;
        align-self: center;
        font-size: 1.5rem;
    }

    
    
    .box-text p {
        margin-bottom: 3em;
    }


    footer {
        margin-top: 2em;
    }
    .btn {
       float: right;
    }

}